@using Resources.Main.Index

<div class="target" id="agenda">
    <div class="page-header">
        <h1>@MainStrings.myagenda</h1>
    </div>
    <div style="left: 4%;position: relative; width: 96%;">
        <div id="myScheduler"></div>


    </div>
</div>
