
.wrapper {
    position: fixed;
    top: 50%;
    z-index: 10;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .wrapper ul {
        list-style: none;
        padding-left: 1px;
    }

        .wrapper ul li {
            width: 50px;
            height: 50px;
            background: #dd4b39;
            margin: 5px 0;
            border-radius: 3px;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }

            .wrapper ul li .fa {
                position: absolute;
                top: 50%;
                left: 50%;
                color: #ffffff;
                transform: translate(-50%,-50%);
                font-size: 20px;
            }

            .wrapper ul li.menuItem {
                background: #dd4b39;
            }

            .wrapper ul li.selectedMenuItem {
                background: #228fe2;
            }

.slider {
    position: absolute;
    top: 0;
    left: 51px;
    width: 0px;
    height: 50px;
    line-height: 50px;
    background: #dd4b39;
    text-align: center;
    border-radius: 3px;
    transition: all 0.2s ease;
}

    .slider p {
        text-transform: uppercase;
        font-size: 16px;
        opacity: 0;
        color: #ffffff;
        font-weight: 900;
        transition: all 0.2s ease;
    }

.wrapper ul li.menuItem div.slider {
    background: #dd4b39;
}

.wrapper ul li.selectedMenuItem div.slider {
    background: #228fe2;
}




.wrapper ul li:hover .slider {
    width: 280px;
}

    .wrapper ul li:hover .slider p {
        opacity: 1;
    }
