@using Resources.MeterReadings.Index
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Default.cshtml";
}
<div style="margin-top: 10px">
    <div class="page-header">
        <h4>@MeterReadingsStrings.meterreadings</h4>
        <h6></h6>
    </div>
    <div id="grdMeterReadings"></div>
</div>

@Html.IncludeVersionedJs("/Scripts/app/MeterReadings.js")