@using Resources.Stock.Index
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Default.cshtml";
}
<div style="margin-top: 10px">
    <div class="page-header">
        <h4>@StockStrings.stock</h4>
        <h6></h6>
    </div>
    <div id="grdStock"></div>
</div>

@Html.IncludeVersionedJs("/Scripts/app/Stock.js")